.profile-no-decorate {
  color: #23282c;
  ::v-deep .dropdown-item {
    display: flex;
    padding-right: 46px;
    border-radius: 0;
  }
  &:hover {
    text-decoration: none;
    color: #23282c;
  }
  i {
    display: inline-block;
    position: relative;
    top: 1px;
    color: #c8ced3;
  }
}
.drop-down-client {
  cursor: pointer;
  border-bottom: 1px solid #c8ced3;
  &:hover:active {
    background-color: #20a8d8;
  }
  &:hover {
    background-color: #f0f3f5;
  }
  i.hidden {
    display: none;
  }
  &:first-child#clients {
    background-color: #20a8d81c;
  }
  .icon-check {
    visibility: hidden;
  }
  &.dd-client-name {
    max-width: 385px;
  }
}
.router-link-active {
  i.hidden {
    display: inline-block;
  }
}
.client-container {
  padding: 10px 0px;
}
.list-client {
  overflow-y: auto;
  max-height: 233px;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  strong {
    display: inline-block;
    width: 315px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    @media (max-width: 865px) {
      max-width: 315px;
    }
    @media (max-width: 500px) {
      max-width: 185px;
    }
  }
  @media (max-width: 865px) {
    max-width: 430px;
  }
  @media (max-width: 500px) {
    max-width: 230px;
  }
  .dropdown-header {
    padding: 8px 50px 8px 14px;
  }
  .drop-down-client {
    // display: flex;
    min-width: 180px;
    justify-content: space-between;
    .option-client{
      padding-right: 7px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
    &:first-child {
      background-color: unset !important;
    }
    .clients-name {
      flex: 1 1 500px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }
  .edit-icon {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 5;
    &:hover {
      text-shadow: 0 0 3px #20a8d8;
    }
    i {
      display: block;
      margin: 0;
      color: #23282c !important;
    }
  }
}
.overflow-y {
  overflow: hidden;
}
.specific-client-dropdown{
  max-width: 200px;
}
.specific-client-dropdown > li > ul {
  max-width: 700px;
}

