.input-group{
    margin: 5px 0px 10px 0px;
}
.notify-err{
    color: red;
    font-size: 13px;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
tr, td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}