.custom-margin {
	margin-bottom: 10px;
	margin-top: -10px;
}
.register-btn{
	color: white;
	position: relative;
	top: 75px;
	border: 1px solid white;
	padding: 6px 24px;
	border-radius: 5px;
	text-decoration: none;
	&:hover{
		background-color: #1b8eb7;
	}
}
.pd-5-40{
	padding: 5px 40px;
}
.return-login-btn{
	color: white;
	font-weight: bold;
	background-color: #f86c6b;
	border: 1px solid #f86c6b;
	text-decoration: none;
	padding: 8px 13px;
	border-radius: 5px;
	position: relative;
	top: 8px;
	&:hover{
		background-color: #f64846;
		border: 1px solid #f63c3a;
	}
}